name: Waka Readme

on:
  schedule:
    # Runs at 12am UTC every day
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  update-readme:
    name: Update Readme with Metrics
    runs-on: ubuntu-latest
    steps:
      - uses: athul/waka-readme@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          SHOW_TITLE: true
          # This controls what text shows up. 
          # You can change this to False if you want a cleaner look.
          SHOW_TIME: true 
          # This ensures it shows languages (C#, etc.)
          SHOW_LANGUAGE: true 
          BLOCKS: ⣀⣄⣤⣦⣶⣷⣿
